global:
  scrape_interval: 15s
  evaluation_interval: 15s

rule_files:
  - /etc/prometheus/alerting/rules.yml

alerting:
  alertmanagers:
    - static_configs:
        - targets: ["alertmanager:9093"]

scrape_configs:
  - job_name: "demo-app"
    metrics_path: /metrics
    static_configs:
      - targets: ["app:8080"]
        labels:
          app: "chat-demo"
  - job_name: "alertmanager"
    static_configs:
      - targets: ["alertmanager:9093"]
  - job_name: "prometheus"
    static_configs:
      - targets: ["localhost:9090"]
